
$colors: (
    primary: var(--primary),
    secondary: var(--white),
);

@mixin button-color($color-key) {
    $color: map-get($colors, $color-key);
    background-color: $color;
    &:hover {
    }
    &:disabled {
    }
}

@mixin button-size($wSize, $hSize, $radius: 0) {
    width: $wSize;
    height: $hSize;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

.Button {
    border-radius: 32px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
    
    img {
        width: 20px;
        height: 20px;
    }
    svg {
        width: 20px;
        height: 20px;
    }

    //  VARIANT
    &.primary {
        @include button-color(primary);
        color: var(--white);
        border: none;
        &:hover {
            background-color: var(--primary-40);
        }
        &:disabled {
            background-color: var(--primary-90);
        } 
    }
    &.secondary {
        @include button-color(secondary);
        color: var(--primary);
        border: 1px solid var(--primary);
        &:hover {
            background-color: var(--primary-100);
            border: 1px solid var(--primary-40);
        }
    }

    // STATE
    &.dashed {
        background-color: var(--white);
        color: initial;
        border: 1.5px dashed #d9d9d9;
    }
    &.disabled {
        background-color: #f5f5f5;
        border : 1px solid #d9d9d9;
        color: #b8b8b8;
    }
    &.error {
        background-color: #ff5151;
        color: #ffffff;
        border: none;
        cursor: not-allowed;
    }

    // SIZE
    &.small-icon{
        @include button-size(20px, 20px, 8px);
    }
    &.small{
        @include button-size(4.0rem, 4.0rem, 3px);
        // padding: 5px;
    }
    &.medium{
        @include button-size(105px, 36px, 32px);
        padding: 0.5rem 1rem;
    }
    &.large{
        @include button-size(280px, 36px);
        padding: 4px;
    }
}