.Typography{
    $font-weight: 500;

    &.display1 {
        font-size: 112px;
        font-weight: $font-weight;
    }

    &.display2 {
        font-size: 80px;
        font-weight: $font-weight;
    }

    &.display3 {
        font-size: 60px;
        font-weight: $font-weight;
    }

    &.headline1 {
        font-size: 48px;
        font-weight: $font-weight;
    }

    &.headline2 {
        font-size: 36px;
        font-weight: $font-weight;
    }

    &.headline3 {
        font-size: 28px;
        font-weight: $font-weight;
    }

    &.headline4 {
        font-size: 24px;
        font-weight: $font-weight;
    }

    &.title1 {
        font-size: 22px;
        font-weight: $font-weight;
    }

    &.title2 {
        font-size: 16px;
        font-weight: $font-weight;
    }

    &.title3 {
        font-size: 12px;
        font-weight: $font-weight;
    }

    &.body1 {
        font-size: 20px;
        font-weight: $font-weight;
    }

    &.body2 {
        font-size: 18px;
        font-weight: $font-weight;
    }

    &.body3 {
        font-size: 16px;
        font-weight: $font-weight;
    }

    &.body4 {
        font-size: 14px;
        font-weight: $font-weight;
    }

    &.body5 {
        font-size: 12px;
        font-weight: $font-weight;
    }

    &.label1 {
        font-size: 18px;
        font-weight: $font-weight;
    }

    &.label2 {
        font-size: 16px;
        font-weight: $font-weight;
    }

    &.label3 {
        font-size: 14px;
        font-weight: $font-weight;
    }
}